.App {
  text-align: center;
}
.head{
  font-family: 'Allura';
    font-size: 3rem;
    margin: 2px;
}
.App-link {
  color: #61dafb;
}

@media only screen and (max-width: 550px) {
  #boi{
    font-size: 0;
  }
  
}